/* CSS untuk latar belakang yang mengisi seluruh layar */
body {
    background-image: url(../assets/BG.png);
    background-size: cover; /* Mengisi seluruh area body */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* CSS untuk mengganti gambar latar belakang saat layar kecil */
  @media (max-width: 768px) {
    body {
      background-image: url(../assets/BGC.png);
    }
  }
  
  /* CSS untuk menampilkan banner di tengah */
  .Banner {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 100px;
  }
  