body {
  background-image: url(../assets/Img/bgr.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
}
.textbox p {
  text-shadow: 
              -1px -1px 0 #DFBD79, 
               1px -1px 0 #DFBD79, 
              -1px  1px 0 #DFBD79, 
               1px  1px 0 #DFBD79;
  color: white;
  font-family: 'yumin', sans-serif;
  
  
}
.header .logo {
  max-height: 50px;
}

.header .nav-links {
  display: flex;
}

.header .nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.header .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.header .hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px;
}

.header .nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  left: 0;
  text-align: center;
}




@media (max-width: 768px) {
  .header .nav-links {
    display: none;
  }

  .header .hamburger {
    display: flex;
  }

 
}

@media (max-width: 480px) {
  
}



.linkNews {
  display: flex;
  justify-content: space-between;
}


.cimgl {
  margin-top: 7px;
  width: 18px;
}

.btnlr {
  margin-top: 50px;
  width: 125px;
}

.linkNews a {
  text-decoration: none; /* Menghilangkan underline */
}

.plink {
  width: 500px;
}




/* Media query untuk layar kecil */
@media (max-width: 600px) {
  .linkNews {
    flex-direction: column; /* Mengubah layout menjadi kolom */
    align-items: center;    /* Menyusun item di tengah */
  }

  .linkNews a {
    margin-bottom: 10px;    /* Memberikan jarak antara item */
  }
}

